@page
@model WebTriggerUI.Pages.SearchModel
@{
}
<div class="text-center">
    <h1 class="display-4">Search for statements</h1>
    <p class="display-4">Search <input type="text" /></p>
    <p>
        
    </p>
</div>
